<div class="container">

  <div class="row">
    <h2>PhysicalParts</h2><hr>
  </div>
  <div class="row row-fluid">
    <div [ngClass]="{'col-md-12': !selected, 'col-md-6': selected}" id="list">
      <app-physical-part-list (selected)="physicalPartSelected($event)">
      </app-physical-part-list>
    </div>
    <div [ngClass]="{'col-0': !selected, 'col-md-6': selected}" id="detail">
      <app-physical-part-detail-panel *ngIf="selected" [physicalPart]="selected" (closeReq)="selected = null">
      </app-physical-part-detail-panel>
    </div>

  </div>
</div>

