<div *ngIf="loaded" class="container" style="margin: 20px">
  <div class="container">
    <div class="row">
      <br>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary " (click)="back()">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          Back</button>
      </div>

      <div class="col-md-5">

        <form *ngIf="requiredFieldsForm" [formGroup]="requiredFieldsForm">
          <label>Id</label>
          <div>
            <input class="form-control" formControlName="id">
          </div>
          <label>Name</label>
          <div [ngClass]="{'has-error': !requiredFieldsForm.get('name').valid}">
            <input class="form-control" formControlName="name">
          </div>
          <label>Customers</label>
          <div [ngClass]="{'has-error': !requiredFieldsForm.get('customers').valid}">
            <input class="form-control" formControlName="customer">
          </div>
          <label>STL File</label>
          <div [ngClass]="{'has-error': !requiredFieldsForm.get('stlFile').valid}">
            <input class="form-control" formControlName="stlFile">
          </div>
        </form>
        <select placeholder="Customers" [(ngModel)]="customers" name="customers">
          <option *ngFor="let customer of customers" [value]="customer.name">
            {{customer.name}}
          </option>
        </select>
        <div class="pull-right" style="margin-top: 20px">
          <button [disabled]=" !requiredFieldsForm.valid" class="btn btn-primary" style="min-width: 100px" (click)="save()">Save</button>
        </div>
      </div>
      <div class="col-sm-5">
        <app-stl-viewer></app-stl-viewer>
      </div>
    </div>
  </div>
</div>