$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// general override styles
$brand-primary: #00796B;
$bg-default: #37474f;
$brand-primary-hover: lighten($brand-primary, 5%);
$border-radius-base: 2px;
