<div  class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Details</h3>
  </div>
  <div [hidden]="!customer" class="panel-body" style="padding-right: 30px">
  <div *ngIf="customer" class="panel-body" style="padding-right: 30px">
    Name: {{customer.name}}
  </div>
  <div *ngIf="customer" class="panel-body" style="padding-right: 30px">
    Email: {{customer.eMail}}
  </div>
    <label>Digital Parts</label>
    <table id="dPartsTable">

      <thead>
      <tr>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
