
<canvas (click)="toogleRotation()" id="stl" width="1280" height="720"></canvas>
<div id="stl-controls" width="1280" height="720">
  <button class="btn btn-primary" style="min-width: 100px" (click)="resetView()">
    <span style="margin-right: 5px;" class="glyphicon glyphicon-repeat"></span> Reset view </button>
  <!--<button class="btn btn-primary" style="min-width: 100px" (click)="toogleRotation()">
    <span style="margin-right: 5px;" class="glyphicon glyphicon-film"></span> Rotation </button>-->
</div>


