<div *ngIf="loaded" >

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" *ngIf="!creating">Details</h3>
      <h3 class="panel-title" *ngIf="creating">Creating New Customer</h3>
    </div>
    <div class="panel-body" style="padding-right: 30px">

      <form *ngIf="requiredFieldsForm" [formGroup]="requiredFieldsForm">
        <label>Name</label>
        <div [ngClass]="{'has-error': !requiredFieldsForm.get('name').valid}">
          <input class="form-control" formControlName="name" value="{{customer.name}}">
        </div>


        <label>Email</label>
        <div [ngClass]="{'has-error': !requiredFieldsForm.get('eMail').valid}">
          <input class="form-control" formControlName="eMail" value="{{customer.eMail}}">
        </div>
      </form>

      <div class="pull-left" style="margin-top: 20px">
        <button class="btn btn-default"
                style="min-width: 100px" (click)="cancel()">Cancel</button>
      </div>
      <div class="pull-right" style="margin-top: 20px">
        <button [disabled]=" !requiredFieldsForm.valid" class="btn btn-primary"
                style="min-width: 100px" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
