<div class="container">

  <div class="row">
    <h2>Customers</h2><hr>
  </div>
  <div class="row">
    <div class="col-md-7" id="list">
      <table id="table"
             data-search="true"
             data-search-align="left"
             data-pagination="true"
             data-page-list="[10, 25, 50, 100, ALL]">

        <thead>
        <tr>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
      <br>
    </div>
    <div class="col-md-5" id="detail">
        <div style="margin-bottom: 10px; margin-top: 10px">
          <button class="btn btn-primary" style="min-width: 100px" (click)="create()">
            <span style="margin-left : 5px" class="glyphicon glyphicon-plus"></span> Add Customer </button>
        </div>


      <div  *ngIf="showCreating">
        <app-customer-detail *ngIf="showCreating" (changed)="detailPanelChange()" [customer]="selectedCustomer"
                             [creating]="true">
        </app-customer-detail>
      </div>

      <app-customer-detail *ngIf="showDetail" (changed)="detailPanelChange()" [customer]="selectedCustomer"
        [creating]="false">
      </app-customer-detail>
    </div>
  </div>
</div>



<!-- Modal -->
<ng-template #modalDelete>
  <div class="modal-header">
    <h3 class="modal-title">Delete customer</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="dismissDelete()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger">
      <strong>Warning!</strong>
      <br/>
      <p>Are you sure you want to permanently delete the customer?</p>
    </div>
    <div class="modal-footer">
      <button id="deleteFormDismissBtn" type="button" class="btn btn-default" (click)="dismissDelete()">Dismiss
      </button>
      <button autofocus type="submit" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
    </div>
  </div>
</ng-template>


