@import "../../../variables";

body {
    position: relative;
    overflow-x: hidden;
}

body,
html {
    height: 100%;
}

#wrapper {
    width: 35%;
}

img {
    width: 100%
}

h2 {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}