<div  class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Digital Part Details
      <span class="pull-right" *ngIf="digitalPart">
      <button type="button" class="btn btn-default" (click)="closeReq.emit()" style="margin-top: -5px">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </span>
    </div>
  </div>
  <div *ngIf="digitalPart" class="panel-body" style="padding-right: 30px">
    Name: {{digitalPart.name}}
  </div>
  <div *ngIf="customer" class="panel-body" style="padding-right: 30px">
    Customer: {{customer.name}}
  </div>
  <div *ngIf="digitalPart" class="panel-body" style="padding-right: 30px">
    Stl-File: {{digitalPart.stlPath}}
  </div>
  <div *ngIf="digitalPart" class="panel-body" style="padding-right: 30px">
    <app-stl-viewer [digitalPartID]="digitalPart.id"></app-stl-viewer>
  </div>
</div>
